<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd http://java.sun.com/xml/ns /javaee"
	id="WebApp_ID" version="3.0">
	<display-name>Tesla</display-name>
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>startup</servlet-name>
		<servlet-class>main.java.controller.StartupServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>main.java.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>main.java.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>main.java.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreateTableServlet</display-name>
		<servlet-name>CreateTableServlet</servlet-name>
		<servlet-class>main.java.controller.CreateTableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateTableServlet</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListTableServlet</display-name>
		<servlet-name>ListTableServlet</servlet-name>
		<servlet-class>main.java.controller.ListTableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListTableServlet</servlet-name>
		<url-pattern>/ListTableServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HealthServlet</display-name>
		<servlet-name>HealthServlet</servlet-name>
		<servlet-class>main.java.controller.HealthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HealthServlet</servlet-name>
		<url-pattern>/healthcheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/Login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<jsp-file>/Register.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Audit</servlet-name>
		<jsp-file>/Audit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Audit</servlet-name>
		<url-pattern>/audit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/Home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<!--context-param> <param-name>contextConfigLocation</param-name> <param-value>/applicationContext.xml</param-value> 
		</context-param> <listener> <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
		</listener -->
</web-app>