{{- if .Values.envProperties }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-env-configmap
  labels:
    {{- include "tekion-app.labels" . | nindent 4 }}
data:
{{- range $key, $val := .Values.envProperties }}
{{ printf "%s: %s" ($key | quote) ($val | quote) | indent 2 }}
{{- end }}
{{- end }}
